In [1]:
from glob import glob

In [2]:
import numpy as np
import pandas as pd

In [22]:
tsvs = list(glob("../RESOURCE/Uniprot_MYB/*.tsv"))

In [25]:
group_info = pd.read_csv("../RESOURCE/group info.txt", sep = "\t", index_col = None)

In [26]:
group_info

                 Subgroup        AtMYBs
0                      C1     AtMYB3R-1
1                      C1     AtMYB3R-2
2                      C1     AtMYB3R-3
3                      C1     AtMYB3R-4
4                      C1     AtMYB3R-5
..                    ...           ...
385                   C45           NaN
386                   C45           NaN
387                   NaN           NaN
388                   NaN           NaN
389  C46(DIVARICATA-like)  AmDIVARICATA

[390 rows x 2 columns]

In [27]:
group_info.dropna(inplace =True)

In [28]:
group_info

                 Subgroup        AtMYBs
0                      C1     AtMYB3R-1
1                      C1     AtMYB3R-2
2                      C1     AtMYB3R-3
3                      C1     AtMYB3R-4
4                      C1     AtMYB3R-5
..                    ...           ...
358                   C39      AmMYB308
380              C44 (S5)       ZmMYBC1
383              C45 (S6)         PhAn2
384                   C45       SlMYB75
389  C46(DIVARICATA-like)  AmDIVARICATA

[173 rows x 2 columns]

In [40]:
At_tsv = "../RESOURCE/Uniprot_MYB/Uniprot_AtMYB.tsv"

In [54]:
at = pd.read_csv(At_tsv, sep = "\t", index_col = "name")

In [55]:
at

,accession,recommended name,short name,organism,PubMed,function,MYB match status,domain,Seqeunce,evidence level
name,,,,,,,,,,
PHL3_ARATH,Q8LAJ7;F4JTR5;Q8RXE4;Q9SVP8,Protein PHR1-LIKE 3,AtPHL3,Arabidopsis thaliana,10617198;27862469;14593172;11511543;15634699;2...,Transcriptional activator (PubMed:26586833). P...,1,"('HTH myb-type', '34', '94')",MYSAIRSSLPLDGSLGDYSDGTNLPIDACLVLTTDPKPRLRWTSEL...,evidence at protein level
MYB65_ARATH,Q9FR97;O65898;Q7DLH4,Transcription factor MYB65,AtMYB65,Arabidopsis thaliana,11743113;11130713;27862469;14593172;9839469;11...,Transcriptional activator of alpha-amylase exp...,2,"('HTH myb-type 1', '38', '90');('HTH myb-type ...",MSYTTATADSDDGMHSSIHNESPAPDSISNGCRSRGKRSVLKKGPW...,evidence at transcript level
TT2_ARATH,Q9FJA2;A0MFJ2;Q53YP9,Transcription factor TT2,AtMYB123,Arabidopsis thaliana,11549766;11597504;9872454;27862469;17147637;15...,"Transcription activator, when associated with ...",2,"('HTH myb-type 1', '11', '63');('HTH myb-type ...",MGKRATTSVRREELNRGAWTDHEDKILRDYITTHGEGKWSTLPNQA...,evidence at protein level
SRM1_ARATH,Q9FNN6,Transcription factor SRM1,AtSRM1,Arabidopsis thaliana,16463103;9405937;27862469;14593172;26243618,Transcription activator that coordinates absci...,2,"('SANT', '7', '62');('HTH myb-type', '111', '1...",MTVEEVSDGSVWSREDDIAFERALANNTDESEERWEKIAADVPGKS...,evidence at protein level
TAD2B_ARATH,Q9ATB4;O23486;Q3EA06;Q3EA07,Transcriptional adapter ADA2b,AtADA2b,Arabidopsis thaliana,11266554;9461215;10617198;27862469;14593172;14...,Required for the function of some acidic activ...,1,"('SANT', '100', '152');('SWIRM', '401', '487')",MGRSRGNFQNFEDPTQRTRKKKNAANVENFESTSLVPGAEGGGKYN...,evidence at protein level
...,...,...,...,...,...,...,...,...,...,...
RVE7L_ARATH,F4J2J6,Protein REVEILLE 7-like,AtRVE7L,Arabidopsis thaliana,11130713;27862469;14523250;19805390,Probable transcription factor.,1,"('HTH myb-type', '60', '114')",MVMMIIIYTEPEISLFPLQDRSEELSSNVENGSCNSNEGINPETSS...,inferred from homology
RADL1_ARATH,F4JVB8;Q0NZY1;Q9T032,Protein RADIALIS-like 1,AtRL1,Arabidopsis thaliana,10617198;27862469;17672842;16463103;18838801,Probable transcription factor.,1,"('SANT', '9', '64')",MASSSMSSQSSGSWTAKQNKAFEQALATYDQDTPNRWQNVAKVVGG...,evidence at transcript level
RADL4_ARATH,Q1G3C4;A0MDZ0;Q1A174,Protein RADIALIS-like 4,AtRL4,Arabidopsis thaliana,10617197;27862469;17147637;17672842;16463103;1...,Probable transcription factor.,1,"('SANT', '6', '61')",MASSSMSTSSWTAREDKQFEMALAKFDKDTPDRWQKIARAVGGKST...,evidence at transcript level
MYB8_ARATH,Q9SDS8;Q9LQE2,Transcription factor MYB8,AtMYB8,Arabidopsis thaliana,11597504;16463103;11130712;27862469;15994234;2...,Transcription activator.,2,"('HTH myb-type 1', '9', '61');('HTH myb-type 2...",MGRSPCCEKAHMNKGAWTKEEDQRLIDYIRNHGEGSWRSLPKSVGL...,evidence at transcript level
RADL3_ARATH,Q6NNN0;F4JQE8;O23224,Protein RADIALIS-like 3,AtRL3,Arabidopsis thaliana,9461215;10617198;27862469;16463103;17672842;18...,Probable transcription factor.,1,"('SANT', '7', '62')",MASNSMSSSASWTRKENKLFERALATYDQDTPDRWHNVARAVGGKS...,evidence at transcript level

In [56]:
at.columns

Index(['accession', 'recommended name', 'short name', 'organism', 'PubMed',
       'function', 'MYB match status', 'domain', 'Seqeunce', 'evidence level'],
      dtype='object')

In [57]:
df = pd.merge(at, group_info, left_on = "short name", right_on = "AtMYBs", how = "left")

In [58]:
df

,accession,recommended name,short name,organism,PubMed,function,MYB match status,domain,Seqeunce,evidence level,Subgroup,AtMYBs
0,Q8LAJ7;F4JTR5;Q8RXE4;Q9SVP8,Protein PHR1-LIKE 3,AtPHL3,Arabidopsis thaliana,10617198;27862469;14593172;11511543;15634699;2...,Transcriptional activator (PubMed:26586833). P...,1,"('HTH myb-type', '34', '94')",MYSAIRSSLPLDGSLGDYSDGTNLPIDACLVLTTDPKPRLRWTSEL...,evidence at protein level,NaN,NaN
1,Q9FR97;O65898;Q7DLH4,Transcription factor MYB65,AtMYB65,Arabidopsis thaliana,11743113;11130713;27862469;14593172;9839469;11...,Transcriptional activator of alpha-amylase exp...,2,"('HTH myb-type 1', '38', '90');('HTH myb-type ...",MSYTTATADSDDGMHSSIHNESPAPDSISNGCRSRGKRSVLKKGPW...,evidence at transcript level,C11,AtMYB65
2,Q9FJA2;A0MFJ2;Q53YP9,Transcription factor TT2,AtMYB123,Arabidopsis thaliana,11549766;11597504;9872454;27862469;17147637;15...,"Transcription activator, when associated with ...",2,"('HTH myb-type 1', '11', '63');('HTH myb-type ...",MGKRATTSVRREELNRGAWTDHEDKILRDYITTHGEGKWSTLPNQA...,evidence at protein level,C44 (S5),AtMYB123
3,Q9FNN6,Transcription factor SRM1,AtSRM1,Arabidopsis thaliana,16463103;9405937;27862469;14593172;26243618,Transcription activator that coordinates absci...,2,"('SANT', '7', '62');('HTH myb-type', '111', '1...",MTVEEVSDGSVWSREDDIAFERALANNTDESEERWEKIAADVPGKS...,evidence at protein level,NaN,NaN
4,Q9ATB4;O23486;Q3EA06;Q3EA07,Transcriptional adapter ADA2b,AtADA2b,Arabidopsis thaliana,11266554;9461215;10617198;27862469;14593172;14...,Required for the function of some acidic activ...,1,"('SANT', '100', '152');('SWIRM', '401', '487')",MGRSRGNFQNFEDPTQRTRKKKNAANVENFESTSLVPGAEGGGKYN...,evidence at protein level,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
156,F4J2J6,Protein REVEILLE 7-like,AtRVE7L,Arabidopsis thaliana,11130713;27862469;14523250;19805390,Probable transcription factor.,1,"('HTH myb-type', '60', '114')",MVMMIIIYTEPEISLFPLQDRSEELSSNVENGSCNSNEGINPETSS...,inferred from homology,NaN,NaN
157,F4JVB8;Q0NZY1;Q9T032,Protein RADIALIS-like 1,AtRL1,Arabidopsis thaliana,10617198;27862469;17672842;16463103;18838801,Probable transcription factor.,1,"('SANT', '9', '64')",MASSSMSSQSSGSWTAKQNKAFEQALATYDQDTPNRWQNVAKVVGG...,evidence at transcript level,NaN,NaN
158,Q1G3C4;A0MDZ0;Q1A174,Protein RADIALIS-like 4,AtRL4,Arabidopsis thaliana,10617197;27862469;17147637;17672842;16463103;1...,Probable transcription factor.,1,"('SANT', '6', '61')",MASSSMSTSSWTAREDKQFEMALAKFDKDTPDRWQKIARAVGGKST...,evidence at transcript level,NaN,NaN
159,Q9SDS8;Q9LQE2,Transcription factor MYB8,AtMYB8,Arabidopsis thaliana,11597504;16463103;11130712;27862469;15994234;2...,Transcription activator.,2,"('HTH myb-type 1', '9', '61');('HTH myb-type 2...",MGRSPCCEKAHMNKGAWTKEEDQRLIDYIRNHGEGSWRSLPKSVGL...,evidence at transcript level,C39,AtMYB8
160,Q6NNN0;F4JQE8;O23224,Protein RADIALIS-like 3,AtRL3,Arabidopsis thaliana,9461215;10617198;27862469;16463103;17672842;18...,Probable transcription factor.,1,"('SANT', '7', '62')",MASNSMSSSASWTRKENKLFERALATYDQDTPDRWHNVARAVGGKS...,evidence at transcript level,NaN,NaN

In [65]:
df1 = df[["short name", "Subgroup"]]

In [66]:
df1

    short name  Subgroup
0       AtPHL3       NaN
1      AtMYB65       C11
2     AtMYB123  C44 (S5)
3       AtSRM1       NaN
4      AtADA2b       NaN
..         ...       ...
156    AtRVE7L       NaN
157      AtRL1       NaN
158      AtRL4       NaN
159     AtMYB8       C39
160      AtRL3       NaN

[161 rows x 2 columns]

In [67]:
df1.head(20)

   short name  Subgroup
0      AtPHL3       NaN
1     AtMYB65       C11
2    AtMYB123  C44 (S5)
3      AtSRM1       NaN
4     AtADA2b       NaN
5     AtMYB75       C45
6     AtMYB56        C6
7     AtMYB96       C37
8     AtMYB73  C8 (S22)
9     AtMYB51       C34
10     AtNSR1       NaN
11     AtTRB3       NaN
12   AtMYB120       C11
13    AtMYB21       C15
14    AtMYB12  C38 (S7)
15    AtMB3R1       NaN
16     AtTRB2       NaN
17    AtADA2a       NaN
18     AtRVE8       NaN
19    AtARR14       NaN

In [68]:
df1.to_csv("../RESOURCE/Uniprot_MYB/Group_Assign_info_At.tsv", sep = "\t", index = None)